<template>
    <div>
        <div class="panel panel-default">
            <div class="alert alert-warning" v-if="site.mirror">
                <strong>Внимание!</strong> Этот сайт является зеркалом <a :href="'http://' + site.is_mirror.url">{{site.is_mirror.url}}</a>
            </div>

            <div class="panel-heading">
                <div class="col col-xs-6">
                    <h3><a target="_blank" :href="'http://' + site.url">{{site.url}}</a></h3>
                </div>

                <div class="col col-xs-6 text-right">
                    <a @click="refresh()" title="" class="btn btn-sm btn-success" data-original-title="Обновить"><span class="glyphicon glyphicon-refresh"></span></a>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="panel-body">
                <form class="filter-form form-inline" style="padding-bottom: 0;">

                    <div class="form-group">
                        <label for="filter-engine">ПС: </label>

                        <select id="filter-engine" name="engine" class="select2">
                            <option value="0">Выбрать</option>
                            <option value="yandex">Yandex</option>
                            <option value="google">Google</option>
                        </select>
                    </div>

                    <button type="submit" style="height: 28px;" @click="submitFilter($event)" class="btn btn-sm btn-primary">Найти</button>
                    <button type="reset" style="height: 28px;" @click="resetFilter($event)" class="btn btn-sm btn-default">Сброс</button>
                </form>
            </div>
        </div>

        <div class="panel panel-default">

            <div class="panel-heading">
                <template v-if="typeClass == 'mi'">
                    <h3><a target="_blank" :href="'https://ru.megaindex.com/visibility/' + site.url + '?ser_id=' + site.region">Суммарный отчет</a></h3>
                </template>
                <template v-else="">
                    <h3><a target="_blank" :href="'https://serpstat.com/domains/index?query=' + site.url +'&search_type=subdomains&se=' + site.region">Суммарный отчет</a></h3>
                </template>
                <hr/>
                <div class="row tile_count">
                    <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="glyphicon glyphicon-eye-open"></i> Видимость</span>
                        <div class="count">{{current.visible}}</div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="glyphicon glyphicon-sort"></i> Сумарный трафик</span>
                        <div class="count">{{current.traff}}</div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="glyphicon glyphicon-paperclip"></i> Ключевые фразы</span>
                        <div class="count green">{{current.keywords}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Динамика</h3>
                <hr/>
                <table class="table table-bordered table-list table-hover table-show-more">
                    <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Видимость</th>
                        <th>Трафик</th>
                        <th>Ключевые фразы</th>
                        <th></th>
                        <th>Новые</th>
                        <th>Потеряные</th>
                        <th>Выросшие</th>
                        <th>Упавшие</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(entry, index) in dynamics">
                            <td>{{entry.date}}</td>

                            <template v-if="entry.visible_status">
                                <td :class="'indicator ' + entry.visible_status">
                                    {{entry.visible}}
                                    <span :class="'glyphicon glyphicon-arrow-' + entry.visible_status"></span>
                                </td>
                            </template>
                            <template v-else>
                                <td>{{entry.visible}}</td>
                            </template>

                            <template v-if="entry.traff_status">
                                <td :class="'indicator ' + entry.traff_status">
                                    {{entry.traff}}
                                    <span :class="'glyphicon glyphicon-arrow-' + entry.traff_status"></span>
                                </td>
                            </template>
                            <template v-else>
                                <td>{{entry.traff}}</td>
                            </template>

                            <template v-if="entry.keywords_status">
                                <td :class="'indicator ' + entry.keywords_status">
                                    {{entry.keywords}}
                                    <span :class="'glyphicon glyphicon-arrow-' + entry.keywords_status"></span>
                                </td>
                            </template>
                            <template v-else>
                                <td>{{entry.keywords}}</td>
                            </template>

                            <td></td>

                            <template v-if="entry.new_keywords_status">
                                <td :class="'indicator ' + entry.new_keywords_status">
                                    {{entry.new_keywords}}
                                    <span :class="'glyphicon glyphicon-arrow-' + entry.new_keywords_status"></span>
                                </td>
                            </template>
                            <template v-else>
                                <td>{{entry.new_keywords}}</td>
                            </template>

                            <template v-if="entry.out_keywords_status">
                                <td :class="'indicator ' + entry.out_keywords_status">
                                    {{entry.out_keywords}}
                                    <span :class="'glyphicon glyphicon-arrow-' + entry.out_keywords_status"></span>
                                </td>
                            </template>
                            <template v-else>
                                <td>{{entry.out_keywords}}</td>
                            </template>

                            <template v-if="entry.rised_keywords_status">
                                <td :class="'indicator ' + entry.rised_keywords_status">
                                    {{entry.rised_keywords}}
                                    <span :class="'glyphicon glyphicon-arrow-' + entry.rised_keywords_status"></span>
                                </td>
                            </template>
                            <template v-else>
                                <td>{{entry.rised_keywords}}</td>
                            </template>

                            <template v-if="entry.down_keywords_status">
                                <td :class="'indicator ' + entry.down_keywords_status">
                                    {{entry.down_keywords}}
                                    <span :class="'glyphicon glyphicon-arrow-' + entry.down_keywords_status"></span>
                                </td>
                            </template>
                            <template v-else>
                                <td>{{entry.down_keywords}}</td>
                            </template>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <template v-if="typeClass == 'mi'">
                    <h3><a target="_blank" :href="'https://ru.megaindex.com/visibility/' + site.url + '?ser_id=' + site.region">Ключевые фразы</a></h3>
                </template>
                <template v-else="">
                    <h3><a target="_blank" :href="'https://serpstat.com/domains/search/?query=' + site.url +'&search_type=subdomains&se=' + site.region">Ключевые фразы</a></h3>
                </template>
                <hr/>
                <div class="row tile_count">
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top">Общее количество</span>
                        <div class="count">{{current.keywords}}</div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top">Новые</span>
                        <div class="count">{{current.new_keywords}}</div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top">Потеряных</span>
                        <div class="count green">{{current.out_keywords}}</div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top">Выросшие</span>
                        <div class="count green">{{current.rised_keywords}}</div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top">Упавшие</span>
                        <div class="count green">{{current.down_keywords}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <template v-if="typeClass == 'mi'">
                    <h3><a target="_blank" :href="'https://ru.megaindex.com/visibility/' + site.url + '?ser_id=' + site.region">Распределение фраз по позициям</a></h3>
                </template>
                <template v-else="">
                    <h3><a target="_blank" :href="'https://serpstat.com/domains/search/?query=' + site.url +'&search_type=subdomains&se=' + site.region">Распределение фраз по позициям</a></h3>
                </template>
                <hr/>
                <div class="row ">
                    <div class="col-md-4">
                        <chartjs-bar :datalabel="graphTop.label" :option="graphTop.options" :labels="graphTop.labels" :data="graphTop.data" :bind="true"></chartjs-bar>
                    </div>

                    <div class="col-md-4">
                        <chartjs-bar :datalabel="graphVisible.label" :option="graphVisible.options" :labels="graphVisible.labels" :data="graphVisible.data" :bind="true"></chartjs-bar>
                    </div>

                    <div class="col-md-4">
                        <chartjs-bar :datalabel="graphKeywords.label" :option="graphKeywords.options" :labels="graphKeywords.labels" :data="graphKeywords.data" :bind="true"></chartjs-bar>
                    </div>

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <template v-if="typeClass == 'mi'">
                    <h3><a target="_blank" :href="'https://ru.megaindex.com/visibility/' + site.url + '/urls?ser_id=' + site.region">Страницы лидеры</a></h3>
                </template>
                <template v-else="">
                    <h3><a target="_blank" :href="'https://serpstat.com/backlink/dashboard/?query=' + site.url">Страницы лидеры</a></h3>
                </template>

                <hr/>
                <table class="table table-bordered table-list table-hover table-show-more">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>URL</th>
                        <th>Keywords</th>
                    </tr>
                    </thead>
                    <tbody>
                    <template v-for="(entry, index) in top">
                        <tr v-if="index == 15" class="spoiler collapse in">
                            <td colspan="3">
                                <a class="btn btn-primary" @click="showMore()">Больше</i></a>
                            </td>
                        </tr>
                        <tr v-if="index === (top.length-1)" class="spoiler collapse out">
                            <td colspan="3">
                                <a class="btn btn-primary" @click="showMore()">Скрыть</i></a>
                            </td>
                        </tr>
                        <tr v-else="" v-bind:class="{ out: index > 14, collapse: index > 14 }">
                            <td>{{index + 1}}</td>
                            <template v-if="typeClass == 'mi'">
                                <td><a v-bind:href="'https://ru.megaindex.com/visibility/' + site.url + '/report?ser_id=' + site.region + '&region=&pg=0&url=' + entry.value.url + '&group=url'">{{entry.value.url}}</a></td>
                                <td><a v-bind:href="'https://ru.megaindex.com/visibility/' + site.url + '/report?ser_id=' + site.region + '&region=&pg=0&url=' + entry.value.url + '&group=url'">{{entry.value.keywords}}</a></td>
                            </template>
                            <template v-else="">
                                <td><a v-bind:href="'https://serpstat.com/urls/search?search_type=url&query=' + entry.value.url">{{entry.value.url}}</a></td>
                                <td><a v-bind:href="'https://serpstat.com/urls/search?search_type=url&query=' + entry.value.url">{{entry.value.keywords}}</a></td>
                            </template>
                        </tr>

                    </template>

                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3><a target="_blank" :href="'https://serpstat.com/backlink/dashboard/?query=' + site.url">Обратные ссылки</a></h3>
                <hr/>
                <div class="row tile_count">
                    <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="glyphicon glyphicon-eye-open"></i> Ссылающиеся домены</span>
                        <div class="count">{{current.links_domain}}</div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="glyphicon glyphicon-sort"></i> Ссылающиеся страницы</span>
                        <div class="count">{{current.links_pages}}</div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="glyphicon glyphicon-paperclip"></i> Всего проиндексировано</span>
                        <div class="count green">{{current.links_index}}</div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading">-->
                <!--<h3><a target="_blank" :href="'https://serpstat.com/domains/urls/?query=' + site.url +'&se=' + site.region">Страницы-лидеры</a></h3>-->
                <!--<hr/>-->
                <!--<div class="row ">-->
                    <!--<div class="col-md-4">-->
                        <!--<chartjs-bar :datalabel="graphTop.label" :labels="graphTop.labels" :data="graphTop.data" :bind="true"></chartjs-bar>-->
                    <!--</div>-->

                    <!--<div class="col-md-4">-->
                        <!--<chartjs-bar :datalabel="graphVisible.label" :labels="graphVisible.labels" :data="graphVisible.data" :bind="true"></chartjs-bar>-->
                    <!--</div>-->

                    <!--<div class="col-md-4">-->
                        <!--<chartjs-bar :datalabel="graphKeywords.label" :labels="graphKeywords.labels" :data="graphKeywords.data" :bind="true"></chartjs-bar>-->
                    <!--</div>-->

                <!--</div>-->
            <!--</div>-->
        <!--</div>-->




    </div>


</template>

<script>
    let paths = {
        entry: '/site/get/',
        refresh: '/site/refresh/'
    };

    let options = {
//        legend: {
//            "display": false
//        },
        tooltips: {
            "enabled": false
        },
        "hover": {
            "animationDuration": 0
        },
        scales: {
            yAxes: [{
//                display: false,
//                gridLines: {
//                    display: false
//                },
                ticks: {
                    max: console.log(this.data),// Math.max(this.data.datasets[0].data),
                    callback: function (value, index, values) {
//                        console.log(values, this);
                        return parseFloat(value).toFixed(1);
                    },
//                    display: false,
                    beginAtZero: true
                }
            }],
        },
        animation: {
            duration: 1,
            onComplete: function(animation) {
                var chartInstance = this.chart;
                var ctx = this.chart.ctx;
                ctx.textAlign = "center";
                ctx.textBaseline = "bottom";

                this.data.datasets.forEach(function (dataset, i) {
                    var meta = chartInstance.controller.getDatasetMeta(i);
                    meta.data.forEach(function(bar, index) {
                        var data = dataset.data[index];
                        ctx.fillText(data, bar._model.x, bar._model.y - 5);
                    });
                })
            }
        }
    };

    export default {
//        props: {
//            entry: { type: String, default: 0 }
//        },

        data: () => ({
            site: {},
            monthsStart: {},
            typeClass: null,
            current: {},
            top: {},
            entry: null,
            dynamics: [],

            graphTop: {
                label: 'Фраз в ТОПе',
                labels: [],
                data: [],
                options: options
            },

            graphVisible: {
                label: 'Динамика видимости',
                labels: [],
                data: [],
                options: options
            },

            graphKeywords: {
                label: 'Фраз в органике',
                labels: [],
                data: [],
                options: options
            },
        }),

        mounted() {
            window.onLoad();

            this.entry = this.$route.params.id;

            axios.get(paths.entry + this.entry)
                .then(response => {
                    this.run(response);
                }).catch(e => {
                    console.log(e);
                })
            ;
        },

        methods: {
            refresh() {
                this.entry = this.$route.params.id;

                axios.get(paths.refresh + this.entry)
                    .then(response => {
                        this.run(response);
                    }).catch(e => {
                    console.log(e);
                })
                ;
            },

            run(response) {
                var monthsStart = response.data.monthsStart;

                this.site = response.data.site;
                this.dynamics = response.data.dynamics;
                this.monthsStart = monthsStart;
                this.typeClass = response.data.typeClass;

                this.current = $.grep(this.site.statistics, row => row.month === monthsStart.current)[0];

                this.top = this.filteredAndSortedData();

                this.fillGraphs();
            },

            submitFilter(e) {
                e.preventDefault();

                let form = $('.filter-form');

                this.sendFilter(form.serialize());
            },

            sendFilter(data = null) {
                axios.post('/site/get/' + this.site.id, data)
                    .then(response => {
                        this.run(response);
                    })
                ;
            },

            showMore() {
                var el = $(".table-show-more tr");

                $.each(el, function (i, item) {
                    var item = $(item);

                    if(item.hasClass("out")) {
                        item.addClass("in");
                        item.removeClass("out");
                    } else {
                        item.addClass("out");
                        item.removeClass("in");
                    }
                });
            },

            filteredAndSortedData() {
                let links = this.site.get_links;

                var props = Object.keys(links).map(function(key) {
                    return { key: key, value: links[key] };
                }, links);

                props.sort(function(p1, p2) { return p2.value.keywords - p1.value.keywords; });

                return props;
            },

            fillGraphs() {
                this.fillGraphTopData();
                this.fillGraphVisibleData();
                this.fillGraphKeywordsData();
            },

            fillGraphKeywordsData() {
                var labels = [
                    {
                        name: 'Текущий',
                        key: 'current'
                    },
                    {
                        name: 'Прошлый',
                        key: 'last'
                    },
                    {
                        name: 'Позапрошлый',
                        key: 'previous'
                    }
                ];

                if (this.graphKeywords.labels.length) {
                    this.graphKeywords.labels = [];
                    this.graphKeywords.data = [];
                }

                labels.forEach((el) => {
                    this.graphKeywords.labels.push(el.name);

                    var data = $.grep(this.site.statistics, row => row.month === this.monthsStart[el.key]);
                    if (data.length) {
                        this.graphKeywords.data.push(data[0]['keywords']);
                    } else {
                        this.graphKeywords.data.push(0);
                    }
                });
            },

            fillGraphVisibleData() {
                var labels = [
                    {
                        name: 'Текущий',
                        key: 'current'
                    },
                    {
                        name: 'Прошлый',
                        key: 'last'
                    },
                    {
                        name: 'Позапрошлый',
                        key: 'previous'
                    }
                ];

                if (this.graphVisible.labels.length) {
                    this.graphVisible.labels = [];
                    this.graphVisible.data = [];
                }

                labels.forEach((el) => {
                    this.graphVisible.labels.push(el.name);

                    var data = $.grep(this.site.statistics, row => row.month === this.monthsStart[el.key]);
                    if (data.length) {
                        this.graphVisible.data.push(data[0]['visible']);
                    } else {
                        this.graphVisible.data.push(0);
                    }
                });
            },

            fillGraphTopMiData() {
                var labels = [
                    {
                        name: 'Top 5',
                        key: 'top5'
                    },
                    {
                        name: 'Top 10',
                        key: 'top10'
                    },
                    {
                        name: 'Top 20',
                        key: 'top20'
                    },
                    {
                        name: 'Top 50',
                        key: 'top50'
                    }
                ];

                if (this.graphTop.labels.length) {
                    this.graphTop.labels = [];
                    this.graphTop.data = [];
                }

                labels.forEach((el) => {
                    this.graphTop.labels.push(el.name);
                    this.graphTop.data.push(this.current[el.key]);
                });
            },

            fillGraphTopSSData() {
                var labels = [
                    {
                        name: 'Top 1',
                        key: 'top1'
                    },
                    {
                        name: 'Top 2-3',
                        key: 'top23'
                    },
                    {
                        name: 'Top 4-5',
                        key: 'top45'
                    },
                    {
                        name: 'Top 6-10',
                        key: 'top610'
                    },
                    {
                        name: 'Top 11-20',
                        key: 'top1120'
                    },
                    {
                        name: 'Top 21-50',
                        key: 'top2150'
                    },
                ];

                if (this.graphTop.labels.length) {
                    this.graphTop.labels = [];
                    this.graphTop.data = [];
                }

                labels.forEach((el) => {
                    this.graphTop.labels.push(el.name);
                    this.graphTop.data.push(this.current[el.key]);
                });
            },

            fillGraphTopData() {
                console.log(this.site);
                if (this.typeClass == 'mi') {
                    return this.fillGraphTopMiData();
                } else {
                    return this.fillGraphTopSSData()
                }
            }
        }
    }
</script>
