<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-6">
                    <h3 class="panel-title">Сайты</h3>
                </div>
                <div class="col col-xs-6 text-right">
                    <button type="button" class="btn btn-sm btn-primary btn-create" @click="loadCreateForm(undefined)">Create New</button>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div>
                <data-filter provider="sites"></data-filter>
            </div>

            <table class="table table-bordered table-list table-hover">
                <thead>
                    <tr>
                        <th>URL</th>
                        <th>Engine</th>
                        <th>Region</th>
                        <th>SEO</th>
                        <th>WM</th>
                        <th width="7%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(entry, index) in items" v-bind:class="{ 'mirror-row': entry.is_mirror }">
                        <template v-if="entry.label_name">
                            <td colspan="6" class="label-row">{{entry.label_name}}</td>
                        </template>
                        <template v-else="">
                            <!--<td><a :href="'/site/' + entry.id" target="_blank">{{entry.url}}</a></td>-->
                            <td><router-link :to="{ name: 'SitesEntry', params: { id: entry.id }}">{{entry.url}}</router-link></td>
                            <td>{{entry.engine | capitalize}}</td>
                            <td>{{regions[entry.region]}}</td>
                            <td>{{entry.responsible_seo.name}}</td>
                            <td>{{entry.responsible_w_m.name}}</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-primary" @click="loadCreateForm(index)"><i class="glyphicon glyphicon-edit"></i></a>
                                    <a class="btn btn-danger" @click="remove(index)"><i class="glyphicon glyphicon-remove"></i></a>
                                </div>
                            </td>
                        </template>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="modal" :class="{ show: modalShown }" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="createSiteModal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content" >
                    <div class="modal-header">
                        <button type="button" class="close" @click="modalShown=false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body" v-html="formContent" id="formContent"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" @click="modalShown=false">Close</button>
                        <button type="submit" class="btn btn-primary" @click="submitForm($event)">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import VueNotifications from 'vue-notifications'

    let paths = {
        index: '/sites/load',
        create: {
            getForm: '/sites/create/getForm',
            new: '/sites/create'
        },
        update: '/sites/update',
        delete: '/sites/delete'
    };

    export default {
        data: () => ({
            modalShown: false,
            mirrorStatus: false,
            formContent: '',
            activeLabel: null,
            items: [],
            regionsList: {},
            regions: {}
        }),

        notifications: {
            showValidationError: {
//                title: 'Ошибка',
                message: 'Все поля обязательны для заполнения',
                type: 'error'
            }
        },

        filters: {
            capitalize: (value) => {
                if (!value) return '';
                value = value.toString();

                return value.charAt(0).toUpperCase() + value.slice(1);
            },
            protocol: (value) => {
                if (!value) return '';
                value = value.toString();

                return 'http://' + value;
            }
        },

        mounted() {
            window.onLoad();

            this.getList();

            this.$root.$on('apply-filter', (data) => {
                this.items = data.model;
            })
        },

        beforeDestroy() {
            this.$root.$off('apply-filter')
        },

        methods: {
            getList() {
                axios.get(paths.index)
                    .then(response => {
                        this.items = response.data.sites;
                        this.regions = response.data.regions;
                    }).catch(e => {
                        console.log(e);
                    })
                ;
            },

            loadCreateForm(index) {
                let entryId = index !== undefined ? this.items[index].id : '';

                axios.get(paths.create.getForm + '/' + entryId)
                    .then(response => {
                        this.formContent = response.data;

                        this.changeModalShown();

                        this.onModalShown();

                    }).catch(e => {
                        console.log(e);
                    })
                ;
            },

            onModalShown() {
                this.$nextTick(() => {
                    $('#createSiteModal').find('select').css('width', '100%').select2();

                    $('#enableMirror')
                        .off('click')
                        .on('click', this.enableMirrorHandler)
                    ;

                    $('#engine')
                        .off('change')
                        .on('change', this.changeEngineHandler)
                    ;

                    this.changeEngineHandler($('#engine'));
                });
            },

            changeEngineHandler(e) {
                var engine = $(e.target).val();
                var regionsSelect = $('#region');

                if (!Object.keys(this.regionsList).length) {
                    $.each(regionsSelect.find('option'), (i, el) => {
                        this.regionsList[$(el).val()] = $(el).text();
                    });
                }

                var options = [];
                var googleOptions = ['g_ru', '2846', '3019', '2926'];
                if (engine === 'google') {
                    $.each([0].concat(googleOptions), (i, key) => {
                        options.push({
                            id: key,
                            text: this.regionsList[key]
                        });
                    });
                } else if (engine == 'yandex') {
                    $.each(this.regionsList, (key, text) => {
                        if (googleOptions.indexOf(key) == -1) {
                            options.push({
                                id: key,
                                text: text
                            });
                        }
                    });
                }

                if (options.length) {
                    regionsSelect.empty().select2('destroy');
                    regionsSelect.select2({data: options});
                }
            },

            enableMirrorHandler(e) {
                var switcher = $(e.target);
                var mirrorWrapper = $('#mirror-wrapper');

                if (switcher.is(':checked')) {
                    mirrorWrapper.fadeOut('slow', () => mirrorWrapper.show());
                    this.mirrorStatus = true;
                } else {
                    mirrorWrapper.fadeOut('slow', () => mirrorWrapper.hide());
                    this.mirrorStatus = false;
                }

                this.switchActiveLabel();
            },

            switchActiveLabel() {
                var labelSelect = $('#createSiteModal').find('select#label');
                var mirrorSelect = $('#createSiteModal').find('select#mirror');

                this.activeLabel = this.activeLabel === null ? parseInt(labelSelect.val()) : this.activeLabel;

                $.each(labelSelect.find('option'), (i, el) => {
                    var option = $(el);

                    if (this.mirrorStatus === true) {
                        if (parseInt(option.val()) !== 3) {
                            option.prop('disabled', true);
                        } else {
                            option.prop('selected', true);
                        }
                    } else {
                        if (parseInt(option.val()) === this.activeLabel) {
                            option.prop('selected', true);
                        }
                        option.prop('disabled', false);
                    }
                });

                if (this.mirrorStatus === false) {
                    mirrorSelect.find('option:selected').prop("selected", false);
                    mirrorSelect.select2();
                }

                labelSelect.select2();
            },

            remove(index) {
                axios.delete(paths.delete + '/' + this.items[index].id)
                    .then(response => {
                        this.items.splice(index, 1);
                    }).catch(e => {
                        return VueNotifications.error({message: 'Ошибка'});
                    })
                ;
            },

            submitForm(e) {
                e.preventDefault();
                if (this.formContent.length === 0) return false;

                let form = $('#formContent form');

                if (!form.get(0).checkValidity()) {
                    return this.showValidationError();
                }

                let updateId = parseInt(form.find('input[name="id"]').val());
                let data = form.serialize();

                if (updateId) {
                    VueNotifications.info({message: 'Обновляем сайт'});

                    setTimeout(() => {
                        VueNotifications.info({message: 'Парсим данные', timeout: 5000});
                    }, 1000);

                    this.update(updateId, data)
                        .then(response => {
                            let index = this.indexWhere(this.items, element => element.id == response.data.sites.id);

                            this.$set(this.items, index, response.data.sites);

                            form.get(0).reset();

                            this.getList();

                            this.changeModalShown();
                        }).catch(e => {
                            return VueNotifications.error({message: e.response.data.message});
                        })
                    ;
                } else {
                    VueNotifications.info({message: 'Добавляем новый сайт'});

                    setTimeout(() => {
                        VueNotifications.info({message: 'Парсим данные', timeout: 5000});
                    }, 1000);

                    this.create(data)
                        .then(response => {
                            this.items.push(response.data.sites);
                            form.get(0).reset();

                            this.changeModalShown();
                        }).catch(e => {
                            return VueNotifications.error({message: e.response.data.message});
                        })
                    ;
                }
            },

            create(data) {
                return axios.post(paths.create.new, data);
            },

            update(id, data) {
                return axios.post(paths.update + '/' + id, data);
            },

            changeModalShown() {
                this.modalShown = !this.modalShown;
            },

            indexWhere(array, conditionFn) {
                const item = array.find(conditionFn);

                return array.indexOf(item);
            }
        }
    }
</script>
