<template>
    <form class="filter-form form-inline">
        <div class="form-group">
            <label for="labels">Метка:</label>

            <select id="labels" name="label" class="select2"></select>
        </div>

        <div class="form-group">
            <label for="filter-engine">Приоритетная ПС:</label>

            <select id="filter-engine" name="engine" class="select2">
                <option value="0">Выбрать</option>
                <option value="yandex">Yandex</option>
                <option value="google">Google</option>
            </select>
        </div>

        <div class="form-group" v-if="provider == 'statistic'">
            <label for="filter-statistics.engine">ПС:</label>

            <select id="filter-statistics.engine" name="statistics.engine" class="select2">
                <option value="0">Выбрать</option>
                <option value="yandex">Yandex</option>
                <option value="google">Google</option>
            </select>
        </div>

        <div class="form-group">
            <label for="responsible_seo">SEO:</label>

            <select id="responsible_seo" name="responsible_seo" class="select2"></select>
        </div>

        <div class="form-group">
            <label for="responsible_wm">WM:</label>

            <select id="responsible_wm" name="responsible_wm" class="select2"></select>
        </div>

        <button type="submit" style="height: 28px;" @click="submitFilter($event)" class="btn btn-sm btn-primary">Найти</button>
        <button type="reset" style="height: 28px;" @click="resetFilter($event)" class="btn btn-sm btn-default">Сброс</button>
        <hr/>
    </form>
</template>

<script>
    let form = $('.filter-form');

    export default {

        props: ['provider'],

        mounted() {
            this.getDataForFilter();
        },

        methods: {
            getDataForFilter() {
                axios.post(this.provider + '/filter/get-data')
                    .then(response => {
                        this.filledFilterSelect(response.data)
                    })
                ;
            },

            filledFilterSelect(data) {
                let form = $('.filter-form');

                $.each(data, (key, items) => {
                   var select = form.find('select#' + key).empty();

                   var tmp = [{
                       'id': 0,
                       'text': 'Выбрать'
                   }];

                   if (key === 'labels') {
                       items.forEach((item) => {
                           tmp.push({
                               id: item.id,
                               text: item.name
                           })
                       });
                   } else {
                       items.users.forEach((item) => {
                           tmp.push({
                               id: item.id,
                               text: item.name
                           })
                       });
                   }

                    select.select2({data: tmp});
                });
            },

            submitFilter(e) {
                e.preventDefault();

                let form = $('.filter-form');

                this.sendFilter(form.serialize());
            },

            resetFilter(e) {
                e.preventDefault();

                this.sendFilter();
            },

            sendFilter(data = null) {
                axios.post(this.provider + '/filter', data)
                    .then(response => {
                        this.$root.$emit('apply-filter', response.data)
                    })
                ;
            }
        }
    }
</script>