.container {
  width: 100%;
  padding: 0;

  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


body {
  padding-top: 70px;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
@media screen and (max-width: 500px) {


  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -100%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -100%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 100%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 100%; /* 6 columns */
  }
}

.sidebar-offcanvas span.glyphicon {
  width: 26px;
  opacity: .99;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3.panel-title {
  line-height: 30px;
  height: 30px;
}

.filter-form {
  padding-bottom: 20px;
}

.filter-form .form-group {
  margin-right: 10px;
}

.filter-form .form-group select {
  width: 100px;
}

.table thead th {
  text-align: center;
}

#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.28);
  z-index: 999999999;
}

#preloader img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

svg path,
svg rect{
  fill: #FF6700;
}

.label-row {
  font-weight: bold;
  color: #333333;
}

th > a.glyphicon-question-sign:hover {
  text-decoration: none;
}

.tooltip-q + .tooltip > .tooltip-inner {
  font-size: 12px;
  line-height: 17px;
  left: -1.7rem;
  padding: 2rem;
  max-width: 350px !important;
  background-color: #fbfcff;
  white-space: normal;
  font-weight: normal;
  color: #000;
  text-align: left;
  box-shadow: 0 8px 21px 0 #c7d0e3, 0 2px 4px 0 #cddcea;
}
.tooltip-q + .tooltip > .tooltip-arrow { border-bottom-color:#fbfcff; }

.tooltip.in{opacity:1!important;}

.nav-tabs {
  border-bottom: none;
}

.tile_count {
  margin-bottom: 20px;
  margin-top: 20px;
}

.tile_count .tile_stats_count {
  border-bottom: 1px solid #D9DEE4;
  padding: 0 10px 0 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative
}

@media (min-width: 992px) {
  footer {
    margin-left: 230px
  }
}

@media (min-width: 992px) {
  .tile_count .tile_stats_count {
    margin-bottom: 10px;
    border-bottom: 0;
    padding-bottom: 10px
  }
}

.tile_count .tile_stats_count:before {
  content: "";
  position: absolute;
  left: 0;
  height: 65px;
  border-left: 2px solid #ADB2B5;
  margin-top: 10px
}

@media (min-width: 992px) {
  .tile_count .tile_stats_count:first-child:before {
    border-left: 0
  }
}

.tile_count .tile_stats_count .count {
  font-size: 30px;
  line-height: 47px;
  font-weight: 600;
  color: #447a2b;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 768px) {
  .tile_count .tile_stats_count .count {
    font-size: 40px
  }
}

@media (min-width: 992px) and (max-width: 1100px) {
  .tile_count .tile_stats_count .count {
    font-size: 30px
  }
}

.tile_count .tile_stats_count span {
  font-size: 12px
}

@media (min-width: 768px) {
  .tile_count .tile_stats_count span {
    font-size: 13px
  }
}

.tile_count .tile_stats_count .count_bottom i {
  width: 12px
}

.panel-heading h3 a, .navbar-center a {
  cursor: pointer;
}

.material-switch > input[type="checkbox"] {
  display: none;
}

.material-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative;
  width: 40px;
}

.material-switch > label::before {
  background: rgb(0, 0, 0);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: '';
  height: 16px;
  margin-top: -8px;
  position:absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px;
}
.material-switch > label::after {
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: '';
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
  background: inherit;
  opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
  background: inherit;
  left: 20px;
}

.mirror-row {
  background-color: #f5f5f5;
}

.navbar-center {
  position: absolute;
  width: 100%;
  left: 0;
  top: 14px;
  text-align: center;
  margin: auto;
  padding:0;
}

.navbar-toggle {
  z-index:1;
}

tr.spoiler {
  text-align: center;
}

td.up {
  color: #1ab394;
}

td.down {
  color: #ed5565;
}

td.indicator span.glyphicon {
  font-size: 11px;
}
