<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-6">
                    <h3 class="panel-title">Холд</h3>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <table class="table table-bordered table-list table-hover">
                <thead>
                    <tr>
                        <th>URL</th>
                        <th>Engine</th>
                        <th>Region</th>
                        <th>SEO</th>
                        <th>WM</th>
                        <th>Ошибка</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(entry, index) in items" v-bind:class="{ 'mirror-row': entry.is_mirror }">
                        <template v-if="entry.label_name">
                            <td colspan="6" class="label-row">{{entry.label_name}}</td>
                        </template>
                        <template v-else="">
                            <!--<td><a :href="'/site/' + entry.id" target="_blank">{{entry.url}}</a></td>-->
                            <td><router-link :to="{ name: 'SitesEntry', params: { id: entry.id }}">{{entry.url}}</router-link></td>
                            <td>{{entry.engine | capitalize}}</td>
                            <td>{{regions[entry.region]}}</td>
                            <td>{{entry.responsible_seo.name}}</td>
                            <td>{{entry.responsible_w_m.name}}</td>
                            <td></td>
                        </template>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</template>

<script>
    import VueNotifications from 'vue-notifications'

    let paths = {
        index: '/hold/load',
    };

    export default {
        data: () => ({
            modalShown: false,
            mirrorStatus: false,
            formContent: '',
            activeLabel: null,
            items: [],
            regionsList: {},
            regions: {}
        }),

        notifications: {
            showValidationError: {
//                title: 'Ошибка',
                message: 'Все поля обязательны для заполнения',
                type: 'error'
            }
        },

        filters: {
            capitalize: (value) => {
                if (!value) return '';
                value = value.toString();

                return value.charAt(0).toUpperCase() + value.slice(1);
            },
            protocol: (value) => {
                if (!value) return '';
                value = value.toString();

                return 'http://' + value;
            }
        },

        mounted() {
            window.onLoad();

            this.getList();
        },

        methods: {
            getList() {
                axios.get(paths.index)
                    .then(response => {
                        this.items = response.data.sites;
                        this.regions = response.data.regions;
                    }).catch(e => {
                        console.log(e);
                    })
                ;
            },
        }
    }
</script>
