<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-6">
                    <h3 class="panel-title">Статистика</h3>
                </div>

                <div class="col col-xs-6 text-right">
                    <a href="/statistic/download" class="btn btn-sm btn-success" title="Скачать отчет"><span class="glyphicon glyphicon-download-alt"></span></a>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div>
                <data-filter provider="statistic"></data-filter>
            </div>

            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#tab1">Главная</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#tab2">Ключевые фразы</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#tab3">ТОП</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#tab4">Видимость</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#tab5">Трафик</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#tab6">Ссылки</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#tab7">Ссылки (динамика)</a>
                </li>
                <!--<li>-->
                    <!--<a data-toggle="tab" href="#tab3">Топ</a>-->
                <!--</li>-->
            </ul>

            <div class="tab-content">
                <div id="tab1" class="tab-pane fade in active">
                    <table class="table responsive-table table-bordered table-list table-hover header-fixed">
                        <thead>
                            <tr>
                                <th style="vertical-align: middle" rowspan="2">URL</th>
                                <th colspan="3">Трафик <a data-placement="top" data-toggle="tooltip" href="#" data-original-title="Трафик, который сайт получает в месяц из поисковой системы Yandex. Это ориентировочный показатель, он коррелирует с реальным трафиком сайта. Serpstat подсчитывает суммарный трафик на основе коэффициента кликабельности сайта (CTR - Click Through Rate). Количество переходов на сайт по поисковому запросу определяется в зависимости от частотности запроса и позиции результата в поиске" class="tooltip-q glyphicon glyphicon-question-sign"></a></th>
                                <th colspan="3">Видимость <a data-placement="top" data-toggle="tooltip" href="#" data-original-title="Видимость сайта в топ-20 Yandex.  Видимость – это показатель, который рассчитывается исходя из соотношения количества и популярности ключевых фраз, по которым сайт можно найти в поиске.  Чем больше популярных фраз сайта находится в верхних строчках поисковой выдачи, тем выше его видимость для пользователей поисковых систем, и тем больше посещений сайт получает. На сервисе Serpstat показатель видимости отражается в процентном соотношении к максимально возможной видимости 1 млн запросов из базы сервиса. " class="tooltip-q glyphicon glyphicon-question-sign"></a></th>
                                <th colspan="3">Ключевые фразы (в Топ10) <a data-placement="top" data-toggle="tooltip" href="#" data-original-title="Ключевые фразы по которым домен занимает позиции в top-50 Yandex. В отчете указана позиция, которую домен занимает по ключевой фразе в SERP (Позиция), частотность ключевой фразы в месяц согласно данным Яндекс.Директ (Запросов), а также ориентировочная цена за клик в $ в контекстной рекламе (Стоимость)." class="tooltip-q glyphicon glyphicon-question-sign"></a></th>

                            </tr>
                            <tr>
                                <th>текущий месяц</th>
                                <th>прошлый месяц</th>
                                <th>позапрошлый месяц</th>

                                <th>текущий месяц</th>
                                <th>прошлый месяц</th>
                                <th>позапрошлый месяц</th>

                                <th>текущий месяц</th>
                                <th>прошлый месяц</th>
                                <th>позапрошлый месяц</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(entry, index) in items">
                                <template v-if="entry.label_name">
                                    <td colspan="10" class="label-row">{{entry.label_name}}</td>
                                </template>
                                <template v-else="">
                                    <td><a :href="'/site/' + entry.id" target="_blank">{{entry.url}}</a></td>
                                    <!-- Traff -->
                                    <td>
                                        <span>{{ getByMonth(entry.statistics, monthsStart.current, 'traff') }}</span>
                                    </td>
                                    <td>
                                        <span>{{ getByMonth(entry.statistics, monthsStart.last, 'traff') }}</span>
                                    </td>
                                    <td>
                                        <span>{{ getByMonth(entry.statistics, monthsStart.previous, 'traff') }}</span>
                                    </td>

                                    <!-- Visible -->
                                    <td>
                                        <span>{{ getByMonth(entry.statistics, monthsStart.current, 'visible') }}</span>
                                    </td>
                                    <td>
                                        <span>{{ getByMonth(entry.statistics, monthsStart.last, 'visible') }}</span>
                                    </td>
                                    <td>
                                        <span>{{ getByMonth(entry.statistics, monthsStart.previous, 'visible') }}</span>
                                    </td>

                                    <!-- Keywords -->
                                    <td>
                                        <span>{{ getByMonth(entry.statistics, monthsStart.current, 'keywords') }}</span>
                                    </td>
                                    <td>
                                        <span>{{ getByMonth(entry.statistics, monthsStart.last, 'keywords') }}</span>
                                    </td>
                                    <td>
                                        <span>{{ getByMonth(entry.statistics, monthsStart.previous, 'keywords') }}</span>
                                    </td>
                                </template>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="tab2" class="tab-pane fade">
                    <table class="table  table-bordered table-list table-hover">
                        <thead>
                            <tr>
                                <th style="vertical-align: middle" rowspan="2">URL</th>
                                <th>Общее кол-во</th>
                                <th>Новые</th>
                                <th>Потерянные</th>
                                <th>Выросшие</th>
                                <!--<th>Упавшие</th>-->

                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(entry, index) in items">
                                <template v-if="entry.label_name">
                                    <td colspan="5" class="label-row">{{entry.label_name}}</td>
                                </template>
                                <template v-else="">
                                    <td><a :href="'/site/' + entry.id" target="_blank">{{entry.url}}</a></td>
                                    <!-- Traff -->
                                    <td>
                                        <span>{{ getByMonth(entry.statistics, monthsStart.current, 'keywords') }}</span>
                                    </td>
                                    <td>
                                        <span>{{ getByMonth(entry.statistics, monthsStart.current, 'new_keywords') }}</span>
                                    </td>
                                    <td>
                                        <span>{{ getByMonth(entry.statistics, monthsStart.current, 'out_keywords') }}</span>
                                    </td>
                                    <td>
                                        <span>{{ getByMonth(entry.statistics, monthsStart.current, 'rised_keywords') }}</span>
                                    </td>
                                    <!--<td v-for="statistic in entry.statistics">-->
                                        <!--<span v-if="statistic.month == monthsStart.current">{{statistic.down_keywords}}</span>-->
                                        <!--<span v-else>0</span>-->
                                    <!--</td>-->
                                </template>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="tab3" class="tab-pane fade">
                    <table class="table  table-bordered table-list table-hover">
                        <thead>
                        <tr>
                            <th style="vertical-align: middle" rowspan="2">URL</th>
                            <th>Топ 1</th>
                            <th>Топ 2-3</th>
                            <th>Топ 4-5</th>
                            <th>Топ 6-10</th>
                            <th>Топ 11-20</th>
                            <th>Топ 21-50</th>
                            <th></th>
                            <th>Топ 3</th>
                            <th>Топ 5</th>
                            <th>Топ 20</th>
                            <th>Топ 50</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(entry, index) in items">
                            <template v-if="entry.label_name">
                                <td colspan="12" class="label-row">{{entry.label_name}}</td>
                            </template>
                            <template v-else="">
                                <td><a :href="'/site/' + entry.id" target="_blank">{{entry.url}}</a></td>
                                <!-- Traff -->
                                <td>
                                    <span>{{ getByMonth(entry.statistics, monthsStart.current, 'top1') }}</span>
                                </td>
                                <td>
                                    <span>{{ getByMonth(entry.statistics, monthsStart.current, 'top23') }}</span>
                                </td>
                                <td>
                                    <span>{{ getByMonth(entry.statistics, monthsStart.current, 'top45') }}</span>
                                </td>
                                <td>
                                    <span>{{ getByMonth(entry.statistics, monthsStart.current, 'top610') }}</span>
                                </td>
                                <td>
                                    <span>{{ getByMonth(entry.statistics, monthsStart.current, 'top1120') }}</span>
                                </td>
                                <td>
                                    <span>{{ getByMonth(entry.statistics, monthsStart.current, 'top2150') }}</span>
                                </td>
                                <td></td>
                                <td>
                                    <span>{{ getByMonth(entry.statistics, monthsStart.current, 'top3') }}</span>
                                </td>
                                <td>
                                    <span>{{ getByMonth(entry.statistics, monthsStart.current, 'top5') }}</span>
                                </td>
                                <td>
                                    <span>{{ getByMonth(entry.statistics, monthsStart.current, 'top20') }}</span>
                                </td>
                                <td>
                                    <span>{{ getByMonth(entry.statistics, monthsStart.current, 'top50') }}</span>
                                </td>
                                <!--<td v-for="statistic in entry.statistics">-->
                                <!--<span v-if="statistic.month == monthsStart.current">{{statistic.down_keywords}}</span>-->
                                <!--<span v-else>0</span>-->
                                <!--</td>-->
                            </template>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div id="tab4" class="tab-pane fade">
                    <table class="table  table-bordered table-list table-hover">
                        <thead>
                            <tr>
                                <th style="vertical-align: middle" rowspan="2">URL</th>
                                <th colspan="3">Видимость <a data-placement="top" data-toggle="tooltip" href="#" data-original-title="Видимость сайта в топ-20 Yandex.  Видимость – это показатель, который рассчитывается исходя из соотношения количества и популярности ключевых фраз, по которым сайт можно найти в поиске.  Чем больше популярных фраз сайта находится в верхних строчках поисковой выдачи, тем выше его видимость для пользователей поисковых систем, и тем больше посещений сайт получает. На сервисе Serpstat показатель видимости отражается в процентном соотношении к максимально возможной видимости 1 млн запросов из базы сервиса. " class="tooltip-q glyphicon glyphicon-question-sign"></a></th>

                            </tr>
                            <tr>
                                <th>текущий месяц</th>
                                <th>прошлый месяц</th>
                                <th>позапрошлый месяц</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(entry, index) in items">
                                <template v-if="entry.label_name">
                                    <td colspan="10" class="label-row">{{entry.label_name}}</td>
                                </template>
                                <template v-else="">
                                    <td><a :href="'/site/' + entry.id" target="_blank">{{entry.url}}</a></td>

                                    <!-- Visible -->
                                    <td>
                                        <span>{{ getByMonth(entry.statistics, monthsStart.current, 'visible') }}</span>
                                    </td>
                                    <td>
                                        <span>{{ getByMonth(entry.statistics, monthsStart.last, 'visible') }}</span>
                                    </td>
                                    <td>
                                        <span>{{ getByMonth(entry.statistics, monthsStart.previous, 'visible') }}</span>
                                    </td>
                                </template>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="tab5" class="tab-pane fade">
                    <table class="table  table-bordered table-list table-hover">
                        <thead>
                            <tr>
                                <th style="vertical-align: middle" rowspan="2">URL</th>
                                <th colspan="3">Трафик <a data-placement="top" data-toggle="tooltip" href="#" data-original-title="Трафик, который сайт получает в месяц из поисковой системы Yandex. Это ориентировочный показатель, он коррелирует с реальным трафиком сайта. Serpstat подсчитывает суммарный трафик на основе коэффициента кликабельности сайта (CTR - Click Through Rate). Количество переходов на сайт по поисковому запросу определяется в зависимости от частотности запроса и позиции результата в поиске" class="tooltip-q glyphicon glyphicon-question-sign"></a></th>

                            </tr>
                            <tr>
                                <th>текущий месяц</th>
                                <th>прошлый месяц</th>
                                <th>позапрошлый месяц</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(entry, index) in items">
                                <template v-if="entry.label_name">
                                    <td colspan="10" class="label-row">{{entry.label_name}}</td>
                                </template>
                                <template v-else="">
                                    <td><a :href="'/site/' + entry.id" target="_blank">{{entry.url}}</a></td>

                                    <!-- Traff -->
                                    <td>
                                        <span>{{ getByMonth(entry.statistics, monthsStart.current, 'traff') }}</span>
                                    </td>
                                    <td>
                                        <span>{{ getByMonth(entry.statistics, monthsStart.last, 'traff') }}</span>
                                    </td>
                                    <td>
                                        <span>{{ getByMonth(entry.statistics, monthsStart.previous, 'traff') }}</span>
                                    </td>
                                </template>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="tab6" class="tab-pane fade">
                    <table class="table  table-bordered table-list table-hover">
                        <thead>
                            <tr>
                                <th style="vertical-align: middle" rowspan="2">URL</th>
                                <th>Ссыл. доменов</th>
                                <th>Ссыл. страниц</th>
                                <th>Проиндексировано</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(entry, index) in items">
                                <template v-if="entry.label_name">
                                    <td colspan="5" class="label-row">{{entry.label_name}}</td>
                                </template>
                                <template v-else="">
                                    <td><a :href="'/site/' + entry.id" target="_blank">{{entry.url}}</a></td>
                                    <!-- Traff -->
                                    <td>
                                        <span>{{ getByMonth(entry.statistics, monthsStart.current, 'links_domain') }}</span>
                                    </td>
                                    <td>
                                        <span>{{ getByMonth(entry.statistics, monthsStart.current, 'links_pages') }}</span>
                                    </td>
                                    <td>
                                        <span>{{ getByMonth(entry.statistics, monthsStart.current, 'links_index') }}</span>
                                    </td>
                                </template>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="tab7" class="tab-pane fade">
                    <table class="table  table-bordered table-list table-hover">
                        <thead>
                        <tr>
                            <th style="vertical-align: middle" rowspan="2">URL</th>
                            <th>текущий месяц</th>
                            <th>прошлый месяц</th>
                            <th>позапрошлый месяц</th>

                        </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(entry, index) in items">
                                <template v-if="entry.label_name">
                                    <td colspan="10" class="label-row">{{entry.label_name}}</td>
                                </template>
                                <template v-else="">
                                    <td><a :href="'/site/' + entry.id" target="_blank">{{entry.url}}</a></td>

                                    <!-- Visible -->
                                    <td>
                                        <span>{{ getByMonth(entry.statistics, monthsStart.current, 'links_pages') }}</span>
                                    </td>
                                    <td>
                                        <span>{{ getByMonth(entry.statistics, monthsStart.last, 'links_pages') }}</span>
                                    </td>
                                    <td>
                                        <span>{{ getByMonth(entry.statistics, monthsStart.previous, 'links_pages') }}</span>
                                    </td>
                                </template>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import VueNotifications from 'vue-notifications'

    let paths = {
        index: '/statistic/load',
    };

    export default {
        data: () => ({
            items: [],
            monthsStart: {}
        }),

        filters: {
            capitalize: (value) => {
                if (!value) return '';
                value = value.toString();

                return value.charAt(0).toUpperCase() + value.slice(1);
            },
            protocol: (value) => {
                if (!value) return '';
                value = value.toString();

                return 'http://' + value;
            }
        },

        mounted() {
            window.onLoad();

            axios.get(paths.index)
                .then(response => {
                    this.items = response.data.sites;
                    this.monthsStart = response.data.monthsStart;
                }).catch(e => {
                    return VueNotifications.error({message: e.response.data.message});
                })
            ;

            this.$root.$on('apply-filter', (data) => {
                this.items = data.model;
                this.monthsStart = data.monthsStart;
            });
        },

        beforeDestroy() {
            this.$root.$off('apply-filter')
        },

        methods: {
            getByMonth: (data, month, key) => {
                var row = data.filter((item) => {
                    return item.month == month;
                });

                if (row.length) {
                    return row[0][key];
                }

                return 0;
            }
        }
    }
</script>
